.users-list{
    border: 1px solid var(--color-dark);
    padding: 1rem;
    border-radius: 8px;
    max-height: 75dvh;
    overflow-y: scroll;
}
.users-list h2{
    border-bottom: 1px solid var(--color-dark);
}
.users-list ul{
    list-style-type: none;
    padding: 0;
}
.users-list ul li{
    border-bottom: 1px solid var(--color-dark);
}